.homePage {
  width: 100vw;
  // border: 2px solid white;

    .videoStripsHolder {
      width: inherit;
      // border: 2px solid red;
      position: absolute;
      // bottom: 1%;
      bottom: -10%;
    }

}
