@import url('https://fonts.googleapis.com/css?family=Libre+Franklin');

.videoPlayerHolder {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  // border: 2px solid red;

  .backToBrowse {
    width: 17.5vw;
    height: 8vh;
    position: absolute;
    // border: 2px solid white;
    background-color: rgba(0,0,0,0.4);
    top: 3%;
    left: 2%;
    text-align: center;
    font-family: 'Libre Franklin', cursive;

    .leftArrowIcon {
      display: block;
      max-width: 25%;
      height: 100%;
      // border: 2px solid red;
      cursor: pointer;
      transition-duration: 0.3s;

      &:hover {
        transform: scale(1.1);
      }

      &:hover + .backToBrowseText{
        opacity: 1;
      }
    }

    .backToBrowseText {
      color: white;
      font-size: 2rem;
      font-weight: bold;
      // border: 2px solid green;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 5%;
      opacity: 0;
      transition-duration: 0.3s;
      transition-delay: 0.2s;
    }
  }

  .videoLoading {
    position: absolute;
    // border: 2px solid white;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%) + translateY(-50%);
  }

  .videoPlayerModal {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;

    .videoPlayerThumbnail {
      display: block;
      width: 100%;
      min-height: 100%;
      max-height: 100%;
    }
  }
}
