@import url('https://fonts.googleapis.com/css?family=Libre+Franklin');

.videoStripContainer {
  width: 97%;
  min-height: 25vh;
  // border: 2px solid red;
  margin: 2% 0% 0 3%;
  padding: 0;

  .videoCategoryHeader {
    color: #e5e5e5;
    margin: 1rem 0 1rem 0;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: bold;
    font-size: 1.7rem;
  }

  .videoThumbnailContainer {
    min-height: 17vh;
    max-height: 17vh;
    padding: 0;
    // border: 2px solid white;
    white-space: nowrap;
    position: relative;

    .slideRight {
      width: 4.1%;
      min-height: inherit;
      max-height: inherit;
      // border: 2px solid white;
      position: absolute;
      top: 0%;
      right: -0.5%;
      background-color: rgba(20, 20, 20, 0.4);
      z-index: 2;

      img {
        // border: 2px solid white;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: none;
      }
    }
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}

.slide-right {
	-webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}
