@import url('https://fonts.googleapis.com/css?family=Libre+Franklin');

.videoStripContainer {
  width: 97%;
  min-height: 25vh;
  // border: 2px solid red;
  margin: 2% 0% 0 3%;
  padding: 0;

  .videoCategoryHeader {
    color: #e5e5e5;
    margin: 1rem 0 1rem 0;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: bold;
    font-size: 1.7rem;
  }

  .videoThumbnailContainer {
    min-height: 17vh;
    max-height: 17vh;
    padding: 0;
    // border: 2px solid white;
    white-space: nowrap;
    position: relative;
  }

  .videoThumbnail {
    width: 16%;
    min-height: inherit;
    max-height: inherit;
    display: inline-block;
    position: relative;
    vertical-align: top;
    overflow: hidden;
    margin-right: 0.25%;
    background-color: rgb(40,40,40);
    // border: 2px solid green;
    cursor: pointer;
    transition-duration: 0.3s;
    z-index: 2;

    img {
      display: block;
      min-height: inherit;
      max-height: inherit;
      width: 100%;
    }

    &:hover {
      transition-delay: 0.3s;
      // position: relative;
      width: 30%;
      min-height: 33vh;
      transform: translateY(-20%);
    }

    .shortClip {
      width: 100%;
      min-height: inherit;
      max-height: inherit;
    }
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}

.slide-right {
	-webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}
